# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RangersArsenal.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\galex\Documents\My Games\Terraria\ModLoader\Mod Sources\RangersArsenal\.idea\.idea.RangersArsenal.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
